DB_ENGINE=django.db.backends.mysql
DB_NAME=circlepass_db
DB_USER=root
DB_PASSWORD=secret
DB_HOST=127.0.0.1
DB_PORT=3306
PAYSTACK_SECRET_KEY=sk_test_example...
PAYSTACK_PUBLIC_KEY=pk_test_example...
PAYSTACK_CALLBACK_URL=http://localhost:3000/payment/callback
DJANGO_SECRET_KEY=your-secret-key
TICKET_QR_SECRET=generate-a-long-random-string-here
DEBUG=True

# Celery / Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0
